<a href="<%- link %>" <% if (link_target) { %>target="_blank"<% } %> class="button <% if (large) { %>button--l <%} else {%>button--s <%}%><% if (primaryBtn) { %>button--primary <%}%><% if (fullWidth) { %> block--full-width <%}%>">
  <%- buttonText %>
</a>