<div class="close flex flex--middle" data-close>
  <div class="inline-block">
    <%- include('../partials/svg/icons/24/close', { cssClass: 'bg-svg--white' }) -%>
  </div>
  <span class="type--xs type--white type--caps type--bold">Close</span>
</div>