<section class="section--l-p-b">
  <div class="container grid">
    <div class="cta-block__column text-center">
      <h3 class="type--l type--white type--display type--caps type--x-bold" data-split-text="scroll">
        Come to the next event
      </h3>
      <div class="button--m-t">
        <%- include('../partials/button', { buttonText: siteDetails.data.main_cta_text, link: siteDetails.data.main_cta_link.url, link_target: true, large: true, primaryBtn: true, fullWidth: false, pageTransition: false } ) -%>
      </div>
    </div>
  </div>
</section>