<div class="scroll-over section--l-p-t bg--black" data-scroll-section>
  <%- include('../SliceZone.ejs', { SliceZone: document.data.body, testimonials: testimonials }) %>
  <%- include('../partials/stats') -%>
  <%- include('../partials/cta-block') -%>
  <%- include('../partials/footer') -%>
</div>