<% count = count == null | undefined? 6 : count %>
<%- count %>

<div class="marquee rotate--small section--l-m-b bg--purple-300 no-overflow">
  <div class="marquee__wrapper flex flex--no-wrap">
    <% for(let i = 0; i < count; i++) { %>
      <div class="marquee__item">
        <span class="marquee-item__icon no-flex-shrink">
          <%- include('../partials/svg/asterisk') -%>
        </span>
        <span class="type--s type--white type--display type--caps type--x-bold no-wrap"><%- title %></span>
      </div>
    <% } %>
  </div>
</div>