<div class="nav-menu" data-nav-menu>
  <div class="nav-menu__bg" data-nav-menu-bg></div>
  <%- include('../partials/menu-links', { container_class: "nav-menu__list", list_class: "nav-menu-list__item", list_text_class: "nav-menu__type type--bold", dataAttr: "data-menu-links" }) -%>

</div>