<div class="nav-menu flex--middle" data-nav-menu>
  <div class="nav-menu__bg" data-nav-menu-bg></div>
  <%- include('../partials/menu-links', { container_class: "nav-menu__list relative text-center", list_class: "nav-menu-list__item", list_text_class: "type--l type--x-bold type--outline-white type--caps type--display nav-menu__type", dataAttr: "data-menu-links" }) -%>

</div>