<div class="nav-menu flex--middle z-index--4" data-nav-menu data-lenis-prevent>
  <%- include('../partials/menu-links', { container_class: "nav-menu__list relative text-center", list_class: "nav-menu-list__item", list_text_class: "type--l type--x-bold type--outline-white type--caps type--display nav-menu__type", dataAttr: "data-menu-links" }) -%>
</div>