<div class="cannot-interact overlay--reveal overlay fixed z-index--5" data-page-transition>
  <div class="overlay overlay--clip-path bg--purple-300" data-page-transition-slide-one></div>
  <div class="overlay overlay--reveal bg--black" data-page-transition-slide-two></div>
</div>