<div class="room-key">
  <div class="room-key__face room-key__front">
    <div class="room-key__logo">
      <%- include('../partials/svg/logo.ejs') %>
    </div>
    <div class="room-key__tagline">
      <p class="type--xs type--display type--x-bold type--white type--caps type--base-l-h">
        <span class="block type--base-l-h">Your accomodation for</span>
        <span class="block">old-school R&B and Hip Hop</span>
      </p>
    </div>
  </div>
  <div class="room-key__face room-key__back">
    <div class="titles text-center">
      <p class="instructions type--caps">Karaoke List</p>
      <p class="type--caps type--xs">Please scan to reveal</p>
    </div>
    
  </div>
  
</div>