<div class="toast absolute success flex flex--middle" data-toast>
  <div class="flex flex--middle toast__content">
    <%- include('../partials/svg/icons/24/tick', { cssClass: 'icon--white' }) -%>
    <p class="type--xs type--white" data-toast-message>Yoo</p>
  </div>
  
  <%- include('../partials/svg/icons/24/close', { cssClass: 'icon--white'}) -%>
</div>