<% let sections = slice.items %>
<section class="section--l-m-b" data-room-key-section>
  <div class="container relative no-overflow">
    <div class="full-height flex flex--middle flex--center" data-room-key-header>
      <h3 class="type--l type--white type--display type--x-bold type--caps text-center" data-room-key-titles>
        <span class="block">
          Got your
        </span>
        <span class="block">
          <span class="type--outline-white">Room</span> key?
        </span>
      </h3>
    </div>

    <div class="step__controls flex flex--middle" data-progress-bar>
      <div class="inline-block">
        <div class="dot__highlight" data-progress-highlight></div>
      <% for(let i = 0; i < sections.length; i++) { %>
        <div class="dot__wrapper" data-progress-index>
          <span class="dot"></span>
        </div>
      <% } %>
      </div>
      
    </div>

    <%- include('../partials/room-key.ejs') %>

    <% if(sections != null) { %>
      <div class="grid relative" data-step-container>
        <div class="step__wrapper relative">
          <div class="step__scroll step-outline--first section-counter" data-progress-steps></div>
          <% sections.forEach((s) => { %>
            <div class="step__scroll step__outline" data-progress-steps>
              <div class="section-counter__inc">
                <div class="section-counter__inc-content">
                  <h4 class="type--white type--s type--display type--x-bold type--caps type--s-margin"><%- s.outline_title %></h4>
                  <p class="type--xs type--white"><%- s.outline %></p>
                </div>
              </div>
            </div>
        <% }) %>
        </div>
      </div>
      <% } %>
  </div>
</section>