.block {
  display: block;
}

.block--full-width {
  @extend .block;
  width: 100%;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--space-btwn {
  justify-content: space-between;
}

.flex--middle {
  align-items: center;
}

.inline-block {
  display: inline-block;
}