.no-overflow {
  overflow: hidden;
}

.no-overflow-x {
  overflow-x: hidden;
}

.no-overflow-y {
  overflow-y: hidden;
}

.overflow-scroll {
  overflow: auto;
}

.overflow-clip {
  overflow: clip;
}

.overflow-clip-y {
  overflow-y: clip;
}