@mixin button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  position: relative;
  font-family: $type--family-display;
  font-weight: $type--font-weight-bold;
}