@mixin text-outline($colour: $colour--black, $fillColour: transparent) {
  -webkit-text-stroke: 0.1rem $colour;
	color: $fillColour;

  @include media-query($breakpoint--medium) {
    -webkit-text-stroke: 0.3rem $colour;
  }
}
