@mixin text-size($small: 1.6, $medium: null, $large: 1.8) {
	font-size: #{$small}rem;

	@if $medium != null {
		@include media-query($breakpoint--medium) {
			font-size: #{$medium}rem;
		}
	}

	@if $large != null {
		@include media-query($breakpoint--medium) {
			font-size: #{$large}rem;
		}
	}
}