.avatar--bio {
  @include background-image;
  padding-bottom: 80%;
  cursor: pointer;
  background-position: center 20%;

  @include media-query($breakpoint--large) {
    padding-bottom: 137.42%;
  }
}

.avatar__stack {
  &:hover {
    .avatar--highlighted {
      opacity: 1;
      transition: 300ms ease;
    }
  }
}

.avatar--highlighted {
  opacity: 0;
  transition: 300ms ease;
}

.avatar--m-b {
  margin-bottom: spacing(4);
}