.avatar {
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
  }
}

.avatar--s {
  width: 4rem;
  height: 4rem;

  @include media-query($breakpoint--medium) {
    width: 6.4rem;
    height: 6.4rem;
  }
}

.avatar--l {
  width: 6.4rem;
  height: 6.4rem;

  @include media-query($breakpoint--medium) {
    width: 8rem;
    height: 8rem;
  }

  @include media-query($breakpoint--x-large) {
    width: 10rem;
    height: 10rem;
  }
}

.avatar--bio {
  @include background-image;
  padding-bottom: 80%;
  cursor: pointer;
  background-position: center 20%;

  @include media-query($breakpoint--large) {
    padding-bottom: 137.42%;
  }
}

.avatar__stack {
  transition: 400ms ease outline,
                400ms ease box-shadow;
  outline: $spacing-rule solid transparent;
  box-shadow: 0 0 20px 0 transparent;
  box-shadow: 0 10px 0 5px transparent;


  &:hover {
    outline: $spacing-rule solid $colour--gold-400;
    transition: 400ms ease outline,
                400ms ease box-shadow;
    box-shadow: 0 10px 80px 5px rgba(234, 186, 15, 0.25);


    .avatar--highlighted {
      opacity: 1;
      transition: 300ms ease;
    }
  }
}

.avatar--highlighted {
  opacity: 0;
  transition: 300ms ease;
}

.avatar--m-b {
  margin-bottom: spacing(4);
}

.avatar--m-t {
  margin-top: spacing(4);
}