.bg--white {
  background-color: $colour--white;
}

.bg-svg--white {
  fill: $colour--white;
}

.bg--black {
  background-color: $colour--black;
  transition: background-color 300ms ease;
}

.bg-svg--black {
  fill: $colour--black;
}

.bg--error {
  background-color: $colour--error;
  transition: background-color 300ms ease;
}

.bg--purple-300 {
  background: $colour--purple-300;
}