.bg--white {
  background-color: $colour--white;
}

.bg-svg--white {
  fill: $colour--white;
}

.bg--black {
  background-color: $colour--black;
}

.bg-svg--black {
  fill: $colour--black;
}

.bg--purple-300 {
  background: $colour--purple-300;
}