.button {
  @include text-size(1.4, null, null);
  @include capitalised-text;
  @include button;
}

.button--l {
  padding: spacing(2) spacing(3);

  @include media-query($breakpoint--x-large) {
    padding: 2rem 4rem;
  }
}

.button--s {
  padding: 1.2rem spacing(2);

  @include media-query($breakpoint--large) {
    padding: spacing(2) spacing(3);
  }
}

.button--primary {
  background-color: $colour--gold-400;
  color: $colour--black;

  &:visited {
    background-color: $colour--gold-400;
    color: $colour--black;
  }
}

.button--m-t {
  margin-top: spacing(6);
}