.button {
  @include text-size;
  @include capitalised-text;
  @include button;
}

.button--l {
  padding: spacing(2) spacing(3);

  @include media-query($breakpoint--large) {
    padding: spacing(3) spacing(6);
  }
}

.button--s {
  padding: 1.2rem spacing(2);

  @include media-query($breakpoint--large) {
    padding: spacing(2) spacing(3);
  }
}

.button--margin-top {
  margin-top: spacing(6);
}