.button {
  @include text-size(1.4, null, null);
  @include capitalised-text;
  @include button;
}

.button--l {
  padding: spacing(2) spacing(3);

  @include media-query($breakpoint--x-large) {
    padding: spacing(3) 4rem;
  }
}

.button--s {
  padding: 1.2rem spacing(2);

  @include media-query($breakpoint--large) {
    padding: spacing(2) spacing(3);
  }
}

.button--primary {
  color: $colour--black;
  background-color: $colour--gold-400;

  &:visited {
    color: $colour--black;
  }

  &::after {
    background-color: $colour--gold-400;
  }
}

.button--m-t {
  margin-top: spacing(6);
}

.button__wrapper {
  transform: translateY(0);
  transition: 300ms ease;
  display: flex;
  flex-direction: column;
  height: 1.8rem;
  z-index: 2;
}

.play--button {
  cursor: pointer;
  width: 5.4rem;
  height: 5.4rem;

  @include media-query($breakpoint--small) {
    width: 7.2rem;
    height: 7.2rem;
  }

  @include media-query($breakpoint--medium) {
    width: 10rem;
    height: 10rem;
  }

  @include media-query($breakpoint--large) {
    width: auto;
    height: auto;
  }
}