.carousel {
  overflow-x: scroll;
}

.carousel__container {
  scrollbar-width: thin;
  scrollbar-color: $colour--purple-300 white;

  display: flex;
  padding-left: 2.5%;
  scroll-padding-left: 2.5%;
  padding-right: 2.5%;
  scroll-padding-right: 2.5%;
  gap: 5%;
  overflow-x: auto;
  padding-bottom: spacing(7);
  scroll-snap-type: x mandatory;

  @include media-query($breakpoint--small) {
    gap: 10%;
  }

  @include media-query($breakpoint--medium) {
    gap: spacing(10);
  }

  @include media-query($breakpoint--large) {
    padding-left: spacing(4);
    scroll-padding-left: spacing(4);
  }
  
  /* Webkit scrollbar styles */
  &::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
    width: 8px; /* Vertical scrollbar width */
  }
  
  &::-webkit-scrollbar-thumb {
    background: $colour--purple-300; /* Thumb color */
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $colour--purple-200; /* Thumb color on hover */
  }
}

.carousel__item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  scroll-snap-align: start;

  @include media-query($breakpoint--small) {
    width: 70%;
  }

  @include media-query($breakpoint--medium) {
    width: 50%;
  }

  @include media-query($breakpoint--x-large) {
    width: 40%;
  }

  @include media-query($breakpoint--xx-large) {
    width: 35%;
  }
}

