.carousel {
  cursor: grab;
  display: flex;
  touch-action: none;
  user-select: none;
  overflow: hidden;
  scrollbar-width: none;

  &.is-dragging {
    cursor: grabbing;
  }

  &::-webkit-scrollbar { 
    display: none;
  }
}

.carousel--layout {
  padding-left: 2.5%;
  padding-right: 2.5%;
  gap: 5%;
  padding-bottom: spacing(7);

  @include media-query($breakpoint--small) {
    gap: 10%;
  }

  @include media-query($breakpoint--medium) {
    gap: spacing(10);
  }

  @include media-query($breakpoint--large) {
    padding-left: spacing(4);
  }
}

.carousel__item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;

  @include media-query($breakpoint--small) {
    width: 70%;
  }

  @include media-query($breakpoint--medium) {
    width: 50%;
  }

  @include media-query($breakpoint--x-large) {
    width: 40%;
  }

  @include media-query($breakpoint--xx-large) {
    width: 35%;
  }
}

