.close {
  gap: spacing(1);
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  z-index: 5;
  cursor: pointer;
  opacity: 0;

  @include media-query($breakpoint--x-large) {
		right: 2.4rem;
    top: 2.4rem;
	}
}