.hamburger {
  display: inline-block;
  cursor: pointer;
  width: 3.5rem;
}

.hamburger__line {
  display: block;
  height: 2px;
  background-color: $colour--white;

  & + & {
    margin-top: 0.6rem;

    @include media-query($breakpoint--x-large) {
      margin-top: $spacing-rule;
    }
  }
}