.image-carousel {
  display: flex;
  overflow: scroll;
  gap: 2.5%;
  padding: spacing(2) 2.5%;
  scrollbar-width: none;
  cursor: grab;
  touch-action: pan-y;
  user-select: none;
  perspective: 1000px;
  
  @include media-query($breakpoint--medium) {
    gap: spacing(6);
  }

  @include media-query($breakpoint--large) {
    padding: spacing(2) spacing(4);
  }

  &::-webkit-scrollbar { 
    display: none;
  }

  &.is-dragging {
    cursor: grabbing;
  }
}

.image-carousel__item {
  max-height: 80rem;
  height: 50vw;
  flex-shrink: 0;
  pointer-events: none;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-out;

  @include media-query($breakpoint--large) {
    height: 80vw;
  }

  .thumbnail {
    height: 100%;
  }
}