.link {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: $colour--gold-400;
}

.link--cta {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 30%;
    background-color: $colour--gold-500;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}