.loader {
  z-index: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader__item {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 80%;

  &.show {
    opacity: 1;
  }
}

.loader--page {
  transform: scale(0.5);
  width: 100%;
  height: 100%;
  clip-path: polygon(10% 20%, 90% 20%, 90% 70%, 10% 70%);
  
  @include media-query($breakpoint--medium) {  
    clip-path: polygon(20% 10%, 80% 10%, 80% 90%, 20% 90%);
  }
}

.loader__icon {
  color: $colour--black;
  width: 4px;
  aspect-ratio: 1;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}