.marquee {
  padding: spacing(1) 0;
}

.marquee__wrapper {
  flex: 0 0 auto;
  gap: 2vw;
}

.marquee__item {
  display: flex;
  align-items: center; 
  flex: 0 0 auto; 
  min-width: max-content;
  gap: 2vw;
}

.marquee-item__icon {
  align-self: center;
  height: 50%;

  svg {
    display: block;
    height: 100%;
    width: auto;
  }
}