.nav-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  display: none;
  background-color: $colour--black;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

  &.show {
    display: flex;
  }
}

.nav-menu__bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $colour--black;
  z-index: -2;
}

.nav-menu__list {
  width: 100%;
}

.nav-menu-list__item {
  width: 100%;
  display: block;
  position: relative;

  & + & {
    margin-top: spacing(4);
  }
}

.nav-menu__type {
  transition: 400ms ease;
  display: inline-block;

  &:hover {
    @include text-outline(transparent, $colour--white);
    transition: 400ms ease;
  }
}

.nav-menu__type:hover + .nav-menu__hover {
  opacity: 1;
  transition: 400ms ease;
}

.nav-menu__hover {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $colour--gold-500;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: 400ms ease;
  filter: url('#filter-4');
}
