.rotate--small {
  transform: $rotate--small;
}

.rotate--minus-small {
  transform: $rotate--minus-small;
}

.rotate--large {
  transform: $rotate--large;
}

.rotate--minus-small {
  transform: $rotate--minus-large;
}