.step__wrapper {
  grid-column: 1 / 9;

  @include media-query($breakpoint--medium - 1, max-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
  }

  @include media-query($breakpoint--medium) {
    grid-column: 1 / 5;
    //min-height: 100vh;
    //max-height: 100vh; /* Prevents infinite height */
  
    //overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
    display: flex;
    flex-direction: column;
  }

  @include media-query($breakpoint--large) {
    grid-column: 1 / 4;

  }

  @include media-query($breakpoint--xx-large) {
    grid-column: 2 / 5;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
    height: 100%;
  }

  p {
    text-wrap: pretty;
  }
}

.step__scroll {
  @include media-query($breakpoint--medium) {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    //min-height: 100vh;
    flex-shrink: 0;
  }
}

.step__outline {
  @include media-query($breakpoint--medium - 1, max-width) {
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    // min-height: fit-content;
    // height: 50vh;
    padding: spacing(2) 0;
  }

  
}

.step-outline--first {
  @include media-query($breakpoint--medium - 1, max-width) {
    height: 50vh;
  }
}

.step__controls {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.step__text {
  @extend .type--xs;

  @include media-query($breakpoint--large) {
    font-size: 2.1rem;
  }
}