.thumbnail {
  display: block;

  svg,
  img {
    width: 100%;
    display: block;
  }
}

.thumbnail__inline {
  @extend .thumbnail;
  display: inline-block;
}

.thumbnail--poster {
  @include media-query($breakpoint--medium) {
		padding-left: 5%;
    padding-right: 5%;
  }
}