.thumbnail {
  display: block;

  svg,
  img {
    width: 100%;
    display: block;
  }
}

.thumbnail__inline {
  @extend .thumbnail;
  display: inline-block;
}

.thumbnail--poster {
  @include media-query($breakpoint--medium) {
		padding-left: 5%;
    padding-right: 5%;
  }
}

.thumbnail--polaroid {
  @include polaroid;
}

.thumbnail-polaroid--sm {
  @extend .thumbnail--polaroid;

  @include media-query($breakpoint--small - 1, max-width) {
    border-width: 0.5rem 0.5rem 2rem 0.5rem;
  }
}