.toast {
  padding: spacing(1);
  gap: spacing(2);
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%) translateY(200%);
  opacity: 0;
}

.toast__content {
  gap: spacing(1);
}

.toast__close {
  cursor: pointer;
}

.toast__icon {
  &.toast-icon--success {
    .toast-icon__error {
      display: none;
    }

    .toast-icon__success {
      display: block;
    }
  }

  &.toast-icon--error {
    .toast-icon__error {
      display: block;
    }
    
    .toast-icon__success {
      display: none;
    }
  }

  &.toast-icon--info {
    .toast-icon__error {
      display: none;
    }
    
    .toast-icon__success {
      display: none;
    }
  }
}
