/* Colours */
$colour--gold-500: #A3820A;
$colour--gold-400: #EABA0F;
$colour--gold-300: #F6D76A;
$colour--gold-200: #FAEAB2;
$colour--gold-100: #FDF7E2;

$colour--purple-500: #351952;
$colour--purple-400: #6831A0;
$colour--purple-300: #9B67D1;
$colour--purple-200: #CEB5E8;
$colour--purple-100: #F5EFFA;

$colour--grey-500: #1C1C1C;
$colour--grey-400: #4F4F4F;
$colour--grey-300: #828282;
$colour--grey-200: #B5B5B5;
$colour--grey-100: #E8E8E8;
$colour--grey-50: #F5F5F8;

$colour--error: #900505;

$colour--white: white;
$colour--black: black;

/* Type */
$type--line-height: 1.5;
$type--family-display: "aktiv-grotesk-extended", sans-serif;
$type--family-body: "aktiv-grotesk", sans-serif;

$type--font-weight-reg: 400;
$type--font-weight-m: 500;
$type--font-weight-bold: 700;
$type--font-weight-x-bold: 800;

/* Spacing */
$spacing-rule: 0.8rem;
$spacing-rule-half: calc($spacing-rule / 2);
$spacing-rule-quarter: calc($spacing-rule-half / 2);

/* Breakpoints */
$breakpoint--x-small: 400px;
$breakpoint--small: 550px;
$breakpoint--medium: 768px;
$breakpoint--large: 960px;
$breakpoint--x-large: 1200px;
$breakpoint--tweakpoint: 1470px;
$breakpoint--xx-large: 1600px;
$breakpoint--xxx-large: 2000px;

/* Rotate */
$rotate--small: rotate(2deg);
$rotate--minus-small: rotate(-2deg);
$rotate--large: rotate(4deg);
$rotate--minus-large: rotate(-4deg);