/* Typography */

::selection {
	background: $colour--purple-300;
}
::-moz-selection {
	background: $colour--purple-300;
}

html {
	font-size: 62.5%;

	@include media-query($breakpoint--xxx-large) {
		font-size: 0.55vw;
	}
}

body {
	font-family: $type--family-body;
	font-size: 100%;
	background-color: $colour--black;
}
  
.type--xl {
	font-size: 8.4rem;
	line-height: 1;

	@include media-query($breakpoint--small) {
		font-size: 12.8rem;
	}

	@include media-query($breakpoint--large) {
		font-size: 16rem;
	}

	@include media-query($breakpoint--xx-large) {
		font-size: 17rem;
	}
}

.type--special {
	font-size: 15.5vw;
	line-height: 1.2;

	@include media-query($breakpoint--medium) {
		font-size: 11vw;
	}
}

.type--l {
	font-size: 4.8rem;
	line-height: 1.1;

	@include media-query($breakpoint--medium) {
		font-size: 6.4rem;
	}

	@include media-query($breakpoint--x-large) {
		font-size: 9.6rem;
	}
}
  
.type--m {
	font-size: 2.4rem;
	line-height: 1.2;

	@include media-query($breakpoint--small) {
		font-size: 3.2rem;
	}

	@include media-query($breakpoint--large) {
		font-size: 4.8rem;
	}

	@include media-query($breakpoint--xx-large) {
		font-size: 6.4rem;
	}
}
 
.type--s {
	font-size: 1.8rem;
	line-height: 1.3;

	@include media-query($breakpoint--small) {
		font-size: 2.4rem;
		line-height: 1.2;
	}

	@include media-query($breakpoint--large) {
		font-size: 3.2rem;
	}
}

.type--xs {
	@include text-size;
	line-height: $type--line-height;
	margin: 0;

	& + & {
		margin-top: spacing(3);
	}
}

.type--tiny {
	@include text-size(1.4rem, null, null);
}

.type--l-margin {
	margin: 0 0 spacing(3);

	@include media-query($breakpoint--medium) {
		margin: 0 0 spacing(5);
	}
}

.type--s-margin {
	margin: 0 0 spacing(2);

	@include media-query($breakpoint--medium) {
		margin: 0 0 spacing(3);
	}
}

.type--xs-margin {
	margin: 0 0 spacing(1);

	@include media-query($breakpoint--medium) {
		margin: 0 0 spacing(2);
	}
}

.type--call-out {
	font-size: 3.2rem;
	line-height: $type--line-height;

	@include media-query($breakpoint--small) {
		font-size: 4.8rem;
	}

	@include media-query($breakpoint--medium) {
		font-size: 6.4rem;
	}
}

.type--display {
	font-family: $type--family-display;
}

.type--x-bold {
	font-weight: $type--font-weight-x-bold;
}

.type--bold {
	font-weight: $type--font-weight-bold;
}

.type--m-w {
	font-weight: $type--font-weight-m;
}

.type--reg {
	font-weight: $type--font-weight-reg;
}

.type--white {
	color: $colour--white;

	&:visited {
		color: $colour--white;
	}
}

.type--grey-200 {
	color: $colour--grey-200;
}

.type--caps {
	@include capitalised-text;
}

.type--outline-white {
	@include text-outline($colour--white);
}

.type--outline-black {
	@include text-outline;
}

.type--highlighted {
	background-color: $colour--gold-300;
}

.type--base-l-h {
	line-height: $type--line-height;
}
