<% let section = document.data.section %>

<div class="container grid section--l-m-b">
  <div class="column--header section--m-m-b">
    <h1 class="type--xxl type--white type--x-bold type--display type--caps">
      <%- document.data.title %>
    </h1>
  </div>
  <% if(section !== null ) { %>
  <div class="column--content">
    <% section.forEach((s) => { %>
    <p class="type--xs type--white">
      <%- s.paragraph %>
    </p>
    <% }) %>
  </div>
  <% } %>
</div>

<%- include('../partials/team-members') -%>
<%- include('../partials/stats') -%>
