<div class="container grid section--l-m-b">
  <h1 class="type--xxl type--white type--x-bold type--display type--caps">
    <%- document.data.title %>
  </h1>
</div>

<%- include('../partials/team-members') -%>

