<%
  let errorMessage = `Oops! you've entered the wrong <span class="type--outline-white type--xl block">Room!</span>`
%>
<div class="full-height flex flex--middle section--s-p-t section--s-p-b">
  <div class="container grid">
    <div class="column--centered text-center" data-hero>
      <h1 class="type--l type--white type--caps type--x-bold type--display" data-main-title data-split-text>
        <%- errorMessage %>    
      </h1>
      <div class="button--m-t" data-misc>
        <%- include('../partials/button', { buttonText: "Back to the party", link: "/", link_target: false, large: true, primaryBtn: true, fullWidth: false, pageTransition: false } ) -%>
      </div>
    </div>
  </div>
</div>
