<div class="container grid section--l-p-t">
  <div class="column--centered section--l-m-b">
    <h1 class="type--l type--white type--caps type--x-bold type--display">
      <span class="block">Oops!</span>
      you&apos;ve entered <span class="no-wrap">the wrong</span>
      <span class="type--outline-white block type--xl">
        Room
      </span>
    </h1>
    <div class="button--m-t">
      <a href="/" class="button button--l button--primary">
        Back to the party
      </a>
    </div>
  </div>
</div>