<section class="hero">
  <div class="container grid">
    
    <div class="hero__heading">
      <h1 class="type--xl type--display type--caps type--x-bold type--outline-black">
        <%- document.data.hero_title %>
      </h1>
    </div>

    <div class="hero__cta">
      <a href="<%- siteDetails.data.main_cta_link.url %>" class="button">
        <%- siteDetails.data.main_cta_text %>
      </a>
    </div>
    
  </div>
</section>