.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  padding-top: spacing(4);
  min-height: 100vh;
  grid-auto-rows: max-content;
  
  @include media-query($breakpoint--small) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-query($breakpoint--large) {
    grid-template-columns: repeat(6, 1fr);
    padding-top: spacing(8);
    grid-column-gap: 5%;
  }

  @include media-query($breakpoint--xx-large) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.gallery-grid__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.slideshow__media {
  //width: 80%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  video {
    height: 75%;
  }
}

.slideshow__controls {
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: 0;
  width: 4rem;

  @include media-query($breakpoint--medium) {
    width: auto;
  }
}

.slideshow__prev {
  left: 2%;
  transform: translateY(-50%);
}

.slideshow__next {
  right: 2%;
  transform: translateY(-50%) rotate(-180deg);
}

.slideshow-media__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto
}

.slideshow__counter {
  position: absolute;
  left: 2%;
  bottom: 5rem;
}