$hero--tweakpoint: 1080px;

.h-hero__intro {
  grid-column: 4 / 7;
  text-align: right;
  grid-row: 1;
  margin-bottom: spacing(6);

  @include media-query($breakpoint--small) {
    grid-column: 7 / 9;
  }

  @include media-query($breakpoint--large) {
    grid-column: 1 / 2;
    text-align: left;
    max-width: 16rem;
    margin-bottom: 0;
    padding-top: spacing(2);
  }
}

.h-hero__alt {
  grid-column: 1 / 2;
  grid-row: 1;

  @include media-query($breakpoint--large) {
    grid-column: 1 / 2;
    grid-row: 4;
    display: flex;
    align-items: flex-end;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 3 / 4;
  }
}

.h-hero__cta {
  grid-column: 3 / 7;
  display: flex;
  align-items: flex-end;

  @include media-query($breakpoint--small - 1, max-width) {
    grid-row: 6;
  }

  @include media-query($breakpoint--small) {
    grid-column: 5 / 9;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 6 / 9;
    grid-row: 4;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 7 / 9;
  }
}

.h-hero__play {
  grid-column: 1 / 2;
  
  @include media-query($breakpoint--small - 1, max-width) {
    align-self: flex-end;
    grid-row: 6;
  }

  @include media-query($breakpoint--small) {
    grid-row: 2 / 5;
    display: flex;
    align-items: center;
  }

  @include media-query($breakpoint--large) {
    grid-column: 1 / 2;
    grid-row: 2;
    display: block;
  }

  @include media-query($breakpoint--x-large) {
    grid-column: 3 / 4;
  }
  
  .play--button {
    @include media-query($breakpoint--medium) {
      display: inline-block;
    }
  }

  svg {
    @include media-query($breakpoint--large - 1, max-width) {
      height: 100%;
    }
  }
}

.intro__grid {
  grid-row-gap: spacing(8);
  
  @include media-query($breakpoint--medium) {
    grid-row-gap: spacing(11);
  }
}

.intro__text-1 {
  grid-column: 1 / 6;
  grid-row: 2;

  @include media-query($breakpoint--medium) {
    grid-column: 5 / 9;
  }

  @include media-query($breakpoint--large) {
    grid-column: 5 / 7;
  }

  p {
    @include media-query($breakpoint--large) {
      max-width: 30rem;
    }
  }
}

.intro__media-1 {
  grid-row: 3;
  grid-column: 2 / 7;

  @include media-query($breakpoint--small) {
    grid-column: 4 / 9;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 5 / 9;
    margin-top: -#{spacing(14)}
  }

  @include media-query($breakpoint--large) {
    grid-column: 7 / 9;
    grid-row: 2;
    margin-top: 0;
  }

  .thumbnail {
    transform: $rotate--minus-small;

    @include media-query($breakpoint--large) {
      transform: $rotate--minus-large;
    }
  }
}

.intro__media-2 {
  grid-row: 4;
  grid-column: 1 / 7;

  @include media-query($breakpoint--medium) {
    grid-row: 2;
    grid-column: 1 / 4;
    margin-top: spacing(11);
    margin-bottom: spacing(8);
  }

  .thumbnail {
    transform: $rotate--small;
  }
}

.intro__text-2 {
  grid-column: 3 / 7;
  
  @include media-query($breakpoint--small) {
    grid-column: 3 / 9;
  }

  @include media-query($breakpoint--medium) {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  @include media-query($breakpoint--large) {
    grid-column: 2 / 4;
  }
}

.intro__media-3 {
  grid-column: 1 / 7;

  @include media-query($breakpoint--medium) {
    grid-column: 1 / 7;
    grid-row: 4;
  }

  @include media-query($breakpoint--large) {
    grid-row: 3;
    grid-column: 5 / 9;
    margin-top: -#{spacing(15)}
  }

  @include media-query($breakpoint--x-large) {
    margin-top: -#{spacing(25)}
  }

  .thumbnail {
    transform: $rotate--minus-small;

    @include media-query($breakpoint--large) {
      transform: $rotate--large;
    }
  }
}