.playlist-group {
  @include container;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: spacing(5);
  row-gap: spacing(10);

  @include media-query($breakpoint--small) {
    column-gap: spacing(10);
  }

  @include media-query($breakpoint--large) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: spacing(16);
    row-gap: spacing(16);
  }

  &.playlist-group--row {
    display: flex;
    width: 100%;
    padding-left: 2.5%;
    column-gap: spacing(2);

    overflow-x: auto;
    scroll-behavior: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    @include media-query($breakpoint--small) {
		  column-gap: spacing(3);
	  }

    @include media-query($breakpoint--large) {
		  padding-left: spacing(4);
	  }

    @include media-query($breakpoint--x-large) {
      column-gap: spacing(6);
    }

    &:-webkit-scrollbar {
      display: none;
    }

    .playlist__indicator {
      display: block;
    }

    .playlist-card {
      flex-shrink: 0;
      width: 20%;

      @include media-query($breakpoint--large) {
        width: 15%;
      }

      .playlist-card__meta {
        opacity: 0;
        transition: opacity 350ms ease;
        padding-top: spacing(2);

        @include media-query($breakpoint--large - 1, max-width) {
          display: none;
        }
      }

      &:hover .playlist-card__meta {
        opacity: 1;
        transition: opacity 350ms ease;
      }
    }
  }
}

.playlist-card__meta {
  padding-top: spacing(2);

  @include media-query($breakpoint--small) {
    padding-top: spacing(4);
  }
}

.playlist-card-meta__details {
  display: flex;
  flex-direction: column;

  @include media-query($breakpoint--small) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.playlist-detail__header {
  margin-top: spacing(8);
  margin-bottom: spacing(8);
  max-width: 120rem;

  @include media-query($breakpoint--medium) {
    margin-top: spacing(12);
    margin-bottom: spacing(12);
  }
}

.playlist-detail-header__meta {
  max-width: 40rem;
  display: flex;
  gap: spacing(2);

  @include media-query($breakpoint--medium) {
    gap: spacing(4);
  }

  span {
    flex: 50%;
  }
}

.playlist-card__img {
  position: relative;
  overflow: hidden;
}

.glow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  pointer-events: none;
  background: radial-gradient(circle at center, rgba(255,255,255,0.2) 0%, transparent 60%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.playlist__indicator {
  width: 20%;
  border: 0.5rem solid $colour--gold-400;
  position: absolute;
  aspect-ratio: 1 / 1;
  z-index: 2;
  pointer-events: none;
  display: none;
  opacity: 0;

  @include media-query($breakpoint--large) {
    width: 15%;
  }
}